{{!< main}}

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
  <div class="container-fluid">
    <p class="navbar-brand mb-0 text-logo">Soporte de Tickets</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
      aria-controls="offcanvasDarkNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" id="navbarNav">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="/login">Regresar</a>
          </li>
          {{#unless esAdministrador}}
          <li class="nav-item">
            <a class="nav-link" href="/tickets">Mis Tickets</a>
          </li>
          {{/unless}}
        </ul>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{usuario.email}}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-white" href="/login">Cerrar Sesión</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container mt-3">
  <h2 class="text-center">Detalle del Ticket</h2>
  <div class="ticket-detalle mb-2">
    <table class="table table-bordered wide-table">
      <tbody>
        <tr>
          <th scope="row">ID</th>
          <td>{{ticket.id}}</td>
        </tr>
        <tr>
          <th scope="row">Tipo</th>
          <td>{{ticket.tipo}}</td>
        </tr>
        <tr>
          <th scope="row">Descripción</th>
          <td>{{ticket.descripcion}}</td>
        </tr>
        <tr>
          <th scope="row">Fecha de Creación</th>
          <td>{{formatDate ticket.fecha_creacion}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="comentarios">
    <h3 class="text-center">Comentarios</h3>
    <div class="row justify-content-center">
      {{#each comentarios}}
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-danger">{{this.nombre_usuario}}</h5>
            <hr>
            <p class="card-text">{{this.mensaje}}</p>
            <hr>
            <p class="card-text"><small class="text-muted">{{formatDate this.fecha_creacion}}</small></p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  {{#if esAdministrador}}
  <div class="mt-1 row justify-content-center">
    <form id="comentario-form" class="col-12 col-md-10 col-lg-8 col-xl-7" action="/ticket/{{ticket.id}}/comentario"
      method="post">
      <div class="mb-3 form-floating">
        <textarea class="form-control" placeholder="Deja un comentario aquí" id="mensaje" name="mensaje"
          style="height: 100px" required></textarea>
        <label for="mensaje">Escribe un Comentario</label>
      </div>
      <div class="form-check mb-3">
        <input class="form-check-input custom-checkbox" type="checkbox" value="true" id="auditado" name="auditado"
          {{#if ticket.auditado}}checked{{/if}}>
        <label class="form-check-label fw-bold text-danger" for="auditado">
          Marcar como auditado
        </label>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Agregar Comentario</button>
      </div>
    </form>
  </div>
  {{/if}}
</div>
<nav aria-label="Page navigation" class="pagination-nav">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">20</a></li>
  </ul>
</nav>
